.social-login-btn:hover {
    color: #fff;
    background-color: #121212;
}
.login-btn {
    color: #fff;
    width: 100% !important;
    display: block;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 5px;
    background-color: #4ca1f5;
    text-transform: none;
    font-size: 16px;
    border: none;
    transition: 0.5s all ease;
    margin-top: 30px;
}

.login-btn:hover {
    background-color: #3875a7;
}
.social-login-btn {
    border: 1px solid #3d3d3d;
    color: #fff;
    width: 100% !important;
    display: block;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 5px;
    background-color: #19191c;
}

.form-input {
    height: 50px !important;
}

input {
    border-radius: 5px !important;
    border: 1px solid #ccc !important;
    color: #fff !important;
    caret-color: #fff !important;
    margin: 0 !important;
}

input:focus {
    border: 1px solid #4ca1f5 !important;
}

.social-login-icon {
    position: absolute;
    top: 15px;
    left: 20px;
}

.social-login-container {
    position: relative;
}

.seperator {
    width: 100%;
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    border: none;
    font-size: 12px;
    font-weight: 500;
    margin: 0;
    height: 80px;
    align-items: center;
}

.seperator:before, .seperator:after {
    content: "";
    border-bottom: 1px solid #c2c8d0;
    flex: 1 0 auto;
    height: 0.5em;
    margin: 0;
}

.seperator span {
    text-align: center;
    flex: 0.2 0 auto;
    margin: 0;
    color: #ccc;
    margin-top: 5px
}

.input-wrapper {
    position: relative;
    margin-top: 15px;
}

.input-wrapper span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    transition: 0.3s;
    pointer-events: none;
    color: gray;
}

input + span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    transition: 0.3s;
    pointer-events: none;
    color: gray;
}

input:focus + span {
    top: -2px;
    background-color: rgb(29, 26, 37);
    padding: 0 5px;
    color: #4ca1f5;
    font-size: 14px;
}
input:not(:placeholder-shown) + span {
    top: -2px;
    background-color: rgb(29, 26, 37);
    padding: 0 5px;
    font-size: 14px;
    /* color: #4ca1f5;  */
}

.error-message span {
    color: #dd3737;
}

body {
    overflow-y: scroll;
}

/* This is the entire scrollbar */
::-webkit-scrollbar {
    width: 8px; /* Adjust width of the scrollbar here */
}

/* This is the track (background) of the scrollbar */
::-webkit-scrollbar-track {
    background: rgb(29, 26, 37); /* Color of the track */
    border-radius: 10px; /* Roundness of the track */
}

/* This is the handle (or thumb) */
::-webkit-scrollbar-thumb {
    background: #555; /* Color of the handle */
    border-radius: 10px; /* Roundness of the handle */
}

/* When hovering over the handle */
::-webkit-scrollbar-thumb:hover {
    background: #3e3e3e; /* Color of the handle when hovered */
}

body {
    scrollbar-width: thin; /* or "auto" or "none" */
    scrollbar-color: #555 rgb(29, 26, 37); /* thumb and track color */
}


.site-footer {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    background-color: rgb(19 18 24);
    color: #fff;
    padding-bottom: 60px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 60px;
}
.footer-section-links {
    display: flex;
    gap: 20px;
}


.footer-link {
    color: #fff;
    font-size: 15px;
    font-weight: 550;
}

.footer-section {
    margin-right: 20px;
    margin-bottom: 20px;
    width: 90%;
    max-width: 1200px;
}

.footer-section h3 {
    border-bottom: 2px solid #666;
    padding-bottom: 10px;
    color: #fff;
    margin-bottom: 15px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
}

.social-links a {
    font-size: 24px;
    margin-right: 10px;
    color: #fff;
    text-decoration: none;
}

/* Assuming you are using Font Awesome for the social icons */
.fa:hover {
    opacity: 0.7;
}

input {
    color: #fff !important;
    caret-color: #fff !important;
}

.input-wrapper.subscribe-email span {
    background-color: rgb(19 18 24) !important;
}

.ticket {
    width: 380px;
    height: 470px;
    border-radius: 12px;
    background-color: rgb(70, 64, 84);
    overflow: hidden;
    color: #fff;
    font-family: 'Rubik';
    position: relative;
}

.ticket-image {
    transition: transform 0.3s ease;
    object-fit: cover;
}


.ticket-info-container {
    padding: 10px 20px 20px;
}

.ticket-event-name {
    color: #fff;
    font-weight: 700;
    font-size: 24px;
}

.ticket-info {
    margin-top: 7px;
    display: flex;
    align-items: center;
    gap: 10px;
}

#tickets-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap ;
}

.ticket-image-container {
    height: 205px;
    overflow: hidden;
}
.rounded-button {
    height: 45px;
    border-radius: 10px;
    background: linear-gradient(to right, rgb(74, 105, 205), rgb(68 71 179));
    border: none;
    text-transform: none;
    color: #fff;
    line-height: 45px;
    padding: 0 20px;
    font-family: 'Rubik';
    box-shadow: 1px 1px 8px 3px #ffffff17;
    cursor: pointer;
    transition: all 0.3s ease;
}

.rounded-button:hover {
    filter: brightness(0.9);
}

.actions {
    display: flex;
    justify-content: end;
    width: 90%;
    padding: 40px 0;
}

.actions-container {
    position: absolute;
    right: 10px;
    bottom: 10px;
    display: flex;
    gap: 20px;
    left: 10px;
    padding: 10px 12px;
    justify-content: space-between;
}

.add-to-cart-btn {
    width: 44px;
    height: 44px;
    border-radius: 100px;
    background: linear-gradient(to bottom right, rgb(74, 105, 205) 0%, rgb(74, 105, 205) 20%, rgb(127, 80, 234) 100%);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 9px;
    transform: scale(1);
    transition: all 0.2s ease;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.add-to-cart-btn:hover, .kide-btn:hover {
    scale: 1.04;
}

.kide-btn {
    height: 44px;
    width: 100px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.2s ease;
}
.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.over-og-price {
    color: #d12727;
}

.under-og-price {
    color: #4fe94f;
}

.free-price-text {
    color: #4fe94f;
}


@media (max-width: 1199px) {
    .account-info {
        flex-direction: column !important;
    }

    .info-name {
        margin-bottom: 10px;
    }

    .account-container {
        max-width: 90% !important;
    }
}

button:active, button:focus {
    border: 1px dashed #ccc !important;
}